@import "../../../styles/abstracts";

.mission-body {
  display: flex;
  margin: 0 auto;

  &__title {
    margin-right: 5rem;
    width: 50rem;
    text-decoration: underline;
    color: $color-secondary;
  
    font-family: StMarie-Regular;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 50px;
  }

  &__text-container {
  }

  &__picture {
    width: 100%;
  }

  &__main-paragraph {
    font-weight: 500;
  }
}


@media(max-width:767px)
{
  .secondary-header
  {
    width: 100%;
    margin-top: 0;
  }
  section
  {
    padding: 1rem !important;
  }
  p.mission-body__lower-paragraph {
    /* color: #000000; */
    font-family: DIN;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    padding-bottom: 15px;
    padding-top: 15px;
}
  .mission-body__title
  {
    padding-bottom: 40px;
  }
}


p.mission-body__lower-paragraph {
  /* color: #000000; */
  font-family: DIN;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  padding-bottom: 15px;
  padding-top: 15px;
}