@import "./fonts";
@import "./abstracts";

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DIN";
  font-size: 1.6rem;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "StMarieW01-Light", sans-serif;
  font-size: $title-font-size;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.8;
}

section {
  width: $section-width;
}
