@import "./abstracts.scss";

.d-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.active {
  color: $white !important;
  padding: 0 0 2rem 0 !important;
  border-bottom: 2px solid $white;
  text-decoration: none;
}

.color-secondary {
  color: $color-secondary !important;
}
