@import "../../../styles/abstracts";

.programs {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  &__title {
  }

  &__paragraph {
  }
}
p.programs__paragraph {
  width: 49%;
  margin: 0 auto;
  color: #000000;
  font-family: DIN;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}

@media(max-width:767px)
{
  p.programs__paragraph
  {
    width: 100% !important;
  }
}